<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<th:block th:replace ="general.html :: headerfiles"></th:block>

<body>

  <div th:replace="general.html :: navbar"></div>

  <div class="content-wrapper" style="margin-left: 0px;">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="m-0 text-dark">Grafik</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Edit Meta Grafik</h3>
              </div>
              <form role="form" th:action="@{/admin/graph/{id}/meta/edit(id=${graphMeta.serialNumber})}" th:object="${graphMeta}" enctype="multipart/form-data"
                method="post">
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputSerialNumber">Nomor urut</label>
                    <select class="form-control custom-select" id="inputSerialNumber" th:field="*{serialNumber}">
                      <option th:each="i : ${options}" th:value="${i}" th:text="${i}"
                              th:selected="${i} == ${graphMeta.serialNumber}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}" class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle">Judul</label>
                    <input type="text" class="form-control" id="inputTitle" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <label for="inputSubjek">Subjek</label>
                    <select class="form-control custom-select" id="inputSubjek" th:field="*{subject}">
                      <option th:value="1">Sosial dan Kependudukan</option>
                      <option th:value="2">Ekonomi dan Perdagangan</option>
                      <option th:value="3">Pertanian dan Pertambangan</option>
                    </select>
                    <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="inputVertical">Vertikal</label>
                    <input type="text" class="form-control" id="inputVertical" th:field="*{vertical}">
                    <span th:if="${#fields.hasErrors('vertical')}" th:errors="*{vertical}" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="inputUnitVertical">Unit Vertikal</label>
                    <input type="text" class="form-control" id="inputUnitVertical" th:field="*{verticalUnit}">
                    <span th:if="${#fields.hasErrors('verticalUnit')}" th:errors="*{verticalUnit}"
                      class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="inputHorizontal">Horizontal</label>
                    <input type="text" class="form-control" id="inputHorizontal" th:field="*{horizontal}" disabled>
                    <span th:if="${#fields.hasErrors('horizontal')}" th:errors="*{horizontal}"
                      class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Deskripsi</label>
                    <textarea class="form-control" rows="5" placeholder="Keterangan singkat isi publikasi.."
                      id="inputDescription" th:field="*{description}"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                      class="text-danger"></span>
                  </div>
<!--                  <div class="form-group">-->
<!--                    <label for="inputGraphType">Tipe Grafik</label>-->
<!--                    <select class="form-control custom-select" id="inputGraphType" th:field="*{graphType}">-->
<!--                      <option th:value="1">Standar</option>-->
<!--                      <option th:value="2">Simpel</option>-->
<!--                    </select>-->
<!--                    <span th:if="${#fields.hasErrors('graphType')}" th:errors="*{graphType}" class="text-danger"></span>-->
<!--                  </div>-->
                  <div class="form-group">
                    <label for="inputDataType">Tipe Data</label>
                    <select class="form-control custom-select" id="inputDataType" th:field="*{dataType}">
                      <option th:value="1">Desimal</option>
                      <option th:value="2">Bilangan Bulat</option>
                    </select>
                    <span th:if="${#fields.hasErrors('dataType')}" th:errors="*{dataType}" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="inputFile">Image Input (SVG)</label>
                    <p>*warna untuk subjek sosial #205D96, ekonomi #ED6E21, dan pertanian #91C32E</p>
                    <input type="file" class="form-control-file" id="inputFile" name="file">
                    <p th:text="${message}" class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <label for="inputImageUri">Link Image</label>
                    <input type="text" class="form-control" id="inputImageUri" th:field="*{imageUri}">
                    <span th:if="${#fields.hasErrors('imageUri')}" th:errors="*{imageUri}" class="text-danger"></span>
                    <p th:text="${message}" class="text-danger"></p>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-info float-right">Simpan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div th:replace="general.html :: footer"></div>

  <div th:replace="general.html :: javascripts"></div>
</body>

</html>