<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<th:block th:replace="general.html :: headerfiles"></th:block>

<body>
    <div th:replace="general.html :: navbar"></div>

    <div class="content-wrapper" style="margin-left: 0px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0 text-dark">Edit Indikator</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Isi Detail Indikator</h3>
                            </div>
                            <form role="form" th:action="@{/admin/indicator/economy/edit/{id}(id=${indicator.id})}" th:object="${indicator}"
                                enctype="multipart/form-data" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputTitle">Judul</label>
                                        <input type="text" class="form-control" id="inputTitle" th:field="*{title}">
                                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Tanggal Rilis</label>
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                data-target="#reservationdate" id="inputReleaseDate"
                                                th:field="*{releaseDate}" />
                                            <div class="input-group-append" data-target="#reservationdate"
                                                data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <span th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCategory">Kategori</label>
                                        <select class="form-control custom-select" id="inputCategory" th:field="*{category}">
                                            <option th:value="14">Tenaga Kerja</option>
                                            <option th:value="15">Energi</option>
                                            <option th:value="16">Industri</option>
                                            <option th:value="17">Inflasi</option>
                                            <option th:value="18">Keuangan</option>
                                            <option th:value="19">Komunikasi</option>
                                            <option th:value="20">Konstruksi</option>
                                            <option th:value="21">Pariwisata</option>
                                            <option th:value="22">Produk Domestik Regional Bruto</option>
                                            <option th:value="23">Transportasi</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputStatType">Tipe Statistik</label>
                                        <select class="form-control custom-select" id="inputStatType" th:field="*{statType}">
                                            <option th:value="STATISTIK_DASAR">Statistik Dasar</option>
                                            <option th:value="STATISTIK_SEKTORAL">Statistik Sektoral</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFile">File input</label>
                                        <input type="file" class="form-control-file" id="inputFile" name="file">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDocumentUri">Link File</label>
                                        <input type="text" class="form-control" id="inputDocumentUri" th:field="*{documentUri}">
                                        <span th:if="${#fields.hasErrors('documentUri')}" th:errors="*{documentUri}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info float-right">Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="general.html :: footer"></div>

    <div th:replace="general.html :: javascripts"></div>

    <script>
        $(function () {
            //Date range picker
            $('#reservationdate').datetimepicker({
                format: 'DD-MM-YYYY'
            });
        })
    </script>

</body>

</html>