<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<th:block th:replace="general.html :: headerfiles"></th:block>

<body>
    <div th:replace="general.html :: navbar"></div>

    <div class="content-wrapper" style="margin-left: 0px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0 text-dark">Edit infographic</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Isi Detail infographic</h3>
                            </div>
                            <form role="form" th:action="@{/admin/infographic/edit/{id}(id=${infographic.id})}" th:object="${infographic}"
                                enctype="multipart/form-data" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputTitle">Judul</label>
                                        <input type="text" class="form-control" id="inputTitle" th:field="*{title}">
                                    </div>
                                    <div class="form-group">
                                        <label>Tanggal Rilis</label>
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                data-target="#reservationdate" id="inputReleaseDate"
                                                th:field="*{releaseDate}" />
                                            <div class="input-group-append" data-target="#reservationdate"
                                                data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSubjek">Subjek</label>
                                        <select class="form-control custom-select" id="inputSubjek" th:field="*{subject}">
                                            <option th:value="1" selected>Sosial dan Kependudukan</option>
                                            <option th:value="2">Ekonomi dan Perdagangan</option>
                                            <option th:value="3">Pertanian dan Pertambangan</option>
                                            <option th:value="4">Umum</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFile">File input</label>
                                        <input type="file" class="form-control-file" id="inputFile" name="file">
                                    </div>
                                    <p>File saved : <span th:text="${infographic.imageUri}"></span></p>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info float-right">Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="general.html :: footer"></div>

    <div th:replace="general.html :: javascripts"></div>

    <script>
        $(function () {
            //Date range picker
            $('#reservationdate').datetimepicker({
                format: 'DD-MM-YYYY'
            });
        })
    </script>

</body>

</html>